@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
  margin: 0;
  background-color : hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
}
img, .card{
  border-radius: 15px;
}
.card {
  background-color: white;
  padding: 0.7em;
  max-width: 250px;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  color:hsl(218, 44%, 22%);
}

p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%)
}